{% extends "common-fragments/layout.html" %}




{% block content %}


   <h3> Books Issue History</h3>



    <br>

<table  class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Authors</th>
      <th scope="col">Publisher</th>
      <th scope="col">ISBN</th>
      <th scope="col">username</th>
        <th scope="col">Issued On</th>
                <th scope="col">Returned On</th>

    </tr>
  </thead>
  <tbody>

  {% for record in bookrecords %}

    <tr>

      <td>{{ record.title }}</td>
    <td>{{ record.authors }}</td>
     <td>{{ record.publisher }}</td>
     <td>{{ record.isbn }}</td>
     <td>{{ record.username }}</td>
             <td>{{ record.issuance_date.strftime('%d-%m-%Y') }}</td>

             <td>

                 {% if record.actual_return_date %}
                 {{ record.actual_return_date.strftime('%d-%m-%Y')  }}
              {% else %} - {% endif %}


             </td>


    </tr>

    {% endfor %}
  </tbody>
</table>







{% endblock %}