


{% extends "common-fragments/layout.html" %}




{% block content %}
<h3>Members List</h3>

    <br>

<table  class="table table-hover">
  <thead>
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">User Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile No</th>
      <th scope="col">Is Active</th>
      <th scope="col">Update Details/ Password</th>

    </tr>
  </thead>
  <tbody>

  {% for user in users %}

    <tr>

      <td>{{ user.userid }}</td>
       <td>{{ user.username }}</td>
       <td>{{ user.email }}</td>
       <td>{{ user.mobile }}</td>
       <td>{{ user.is_active }}</td>
     <td>
         <form class= "container-fluid" style="width: 60%;" method="post" action="/listmembers">

{{ form.csrf_token }}


          <input class="invisible" name="book" required type="hidden" value='{{ user.userid}}' >




    <button class='btn btn-sm btn-warning btn-block' type='submit'>Update</button>
</form>

     </td>

    </tr>

    {% endfor %}
  </tbody>
</table>








{% endblock %}