{% extends "common-fragments/layout.html" %}




{% block content %}


<h3> Return Books</h3>


<table  class="table table-hover">
  <thead>
    <tr>
         <th scope="col">Renew</th>
      <th scope="col">Title</th>
      <th scope="col">Authors</th>
      <th scope="col">Publisher</th>
      <th scope="col">ISBN</th>
      <th scope="col">username</th>
        <th scope="col">Issued On</th>
                <th scope="col">To be Returned On</th>

    </tr>
  </thead>
  <tbody>

  {% for record in booksissued %}

    <tr>
    <td>


<form class= "container-fluid" style="width: 60%;" method="post" action="/returnbook">

{{ form.csrf_token }}




          <input class="invisible" name="book" required type="hidden" value='{{ record.bookissuance.id }}' >

<input class="invisible" name="issued_to" required type="hidden" value='{{ record.bookissuancebyuser.userid }}' >





    <button class='btn btn-sm btn-warning btn-block' type='submit'>Return</button>
</form>








    </td>

      <td>{{ record.bookissuance.title }}</td>
    <td>{{ record.bookissuance.authors }}</td>
     <td>{{ record.bookissuance.publisher }}</td>
     <td>{{ record.bookissuance.isbn }}</td>
     <td>{{ record.bookissuancebyuser.username }}</td>
             <td>


                 {% if record.issuance_date %}
                 {{ record.issuance_date.strftime('%d-%m-%Y')  }}
              {% else %} - {% endif %}






             </td>

             <td>

                 {% if record.to_be_returned_by_date %}
                 {{ record.to_be_returned_by_date.strftime('%d-%m-%Y')  }}
              {% else %} - {% endif %}


             </td>


    </tr>

    {% endfor %}
  </tbody>







{% endblock %}
