{% extends "common-fragments/layout.html" %}

{% block content %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <main class="form-signin w-100 m-auto">

        <br>
        <br>
        <br>
      <form role="form" method="post" action="">
               {{ form.csrf_token }}


        <div class="form-floating">


              <select name="userid" class="form-control" required autofocus placeholder='Select Login'>

       <option value='' name='userid'> Select Login  </option>
        {% for user in users %}

            <option value='{{ user.userid }}' name='userid'> {{ user.username }}  </option>

      {% endfor %}
        </select>


        </div>

      <br>


        <div class="form-floating">
          <input class="form-control mb-2" id="password" name="password" placeholder="password" required type="password" value="">
          <label for="password">Password</label>

        </div>




        <button class="w-100 btn btn-lg btn-primary"  data-bs-toggle="tooltip"
                data-bs-placement="top" data-bs-title="Tooltip on top" type="submit">Log in</button>

      </form>
    </main>
  </div>
  <div class="col-md-4"></div>
</div>



{% endblock %}