<!-- Navigation -->
<header class="p-3 text-bg-primary">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{ url_for('homepage.index') }}" class="nav-link px-8 text-white"><h3>Library Management System</h3></a></li>
      </ul>

    <div class="text-start">
    <a href="{{ url_for('homepage.index') }}"><button type="button" class="btn btn-outline-light me-2">Home</button></a>

    </div>

      <div class="text-end">

        {% if current_user.is_authenticated %}
        <a href="{{ url_for('authentication.logout') }}"><button type="button" class="btn btn-outline-light me-2">Logout</button></a>
        {% else %}
          <a href="{{ url_for('authentication.login') }}"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
          <a href="{{ url_for('authentication.register') }}"><button type="button" class="btn btn-outline-light me-2">Register</button></a>
        {% endif %}
          
      </div>
    </div>
  </div>
</header>